.bg-newprimary{
    background-color: #21325E;
}
.bg-newsuccess{
    background-color: #35858B;
}
.bg-newdanger{
    background-color: #BB6464;
}
.thumbnailbox-landscape{
    height:140px;
    width:220px;
}
.text-newdark{
    color:#313552;
}