<script>
    $(".nav-profile").addClass('active')
</script>
<div class="row text-secondary">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-newsuccess text-light">
                <h5><i class="fa fa-image"></i> Logo</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-6">
                        <h6>Main Logo</h6>
                        <div class="text-center img-thumbnail">
                            <label for="logo">
                                <img src="assets/img/browsimg.png" class="w-50" alt="">
                            </label>
                            <input type="file" id="logo" class="d-none" accept=".jpg,.png,.jpeg">
                        </div>
                    </div>
                    <div class="col-md-12 col-6 pt-md-4">
                        <h6>Second Logo</h6>
                        <div class="text-center img-thumbnail">
                            <label for="logo2">
                                <img src="assets/img/browsimg.png" class="w-50" alt="">
                            </label>
                            <input type="file" id="logo2" class="d-none" accept=".jpg,.png,.jpeg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 pt-4 pt-md-0">
        <div class="card">
            <div class="card-body p-4">
                <h5> <i class="fa fa-list"></i> Details Profil</h5>
                <hr>
                <div class="mb-4">
                    <div class="row">
                        <div class="col-md-4 position-relative">
                            <strong>Nama / Judul </strong>
                            <span class="position-absolute end-0 top-0">:</span>
                        </div>
                        <div class="col-md-8">
                            Judul Atau Nama Perusahaan / Website Disini
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="row">
                        <div class="col-md-4 position-relative">
                            <strong>Alamat </strong>
                            <span class="position-absolute end-0 top-0">:</span>
                        </div>
                        <div class="col-md-8">
                            Alamat Kantor Perusahaan / Website Disini
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="row">
                        <div class="col-md-4 position-relative">
                            <strong>No HP / Whatasapp </strong>
                            <span class="position-absolute end-0 top-0">:</span>
                        </div>
                        <div class="col-md-8">
                            HP / Whtsapp Kantor Perusahaan / Website Disini
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="row">
                        <div class="col-md-4 position-relative">
                            <strong>Email </strong>
                            <span class="position-absolute end-0 top-0">:</span>
                        </div>
                        <div class="col-md-8">
                            Email Kantor Perusahaan / Website Disini
                        </div>
                    </div>
                </div>

                <button data-bs-toggle="modal" data-bs-target="#formProfile" class="btn shadow position-absolute bottom-0 end-0 mb-4 me-5 bg-newsuccess text-light btn-sm rounded-circle"><i class="fa fa-pencil-alt"></i></button>
            </div>
        </div>
        <div class="card my-3">
            <div class="card-body p-4">
                <h6><i class="fa fa-images"></i> Galeries</h6>
                <hr>
                <div class="row">
                    <% for( let index = 0; index < 8; index++ ) { %>
                        <div class="col-md-4 mb-3 col-6">
                            <div class="thumbnailbox-landscape overflow-hidden rounded">
                                <img src="assets/img/galeries/example.jpg" alt="" class="w-100">
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formProfile" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
