<script>
    $('.nav-product').addClass('active')
</script>

<div class="card">
    <div class="container-fluid py-3 text-end">
        <button data-bs-target="#productFormModal" data-bs-toggle="modal" class="btn bg-newsuccess text-light"><i class="fa fa-plus"></i> New Product</button>
    </div>
    <div class="card-body p-4">
        <div class="table-responsive">
            
            <table class="table table-hover table-striped"  width="100%" cellspacing="0">
                <thead class="bg-newsuccess text-light p-4">
                    <tr>
                        <th class="py-4 ps-2">#</th>
                        <th class="py-4 ps-2">Product</th>
                        <th class="py-4 ps-2">Stok</th>
                        <th class="py-4 ps-2">Harga Stok</th>
                        <th class="py-4 ps-2">Harga Jual</th>
                        <th class="py-4 ps-2">Aksi</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="py-4 ps-2">#</th>
                        <th class="py-4 ps-2">Product</th>
                        <th class="py-4 ps-2">Stok</th>
                        <th class="py-4 ps-2">Harga Stok</th>
                        <th class="py-4 ps-2">Harga Jual</th>
                        <th class="py-4 ps-2">Aksi</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% products.forEach(function(product){ %>
                        <tr>
                            <td><%- no++ %> </td>
                            <td><%- product.namaProduct %> </td>
                            <td><%- product.stok %> </td>
                            <td><%- product.hargaStok %> </td>
                            <td><%- product.hargaJual %> </td>
                            <td>
                                <button class="btn btn-sm btn-primary"><i class="fa fa-pencil-alt"></i></button>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static"  id="productFormModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="my-4">
                    <strong class="form-title">Add New Product</strong>
                </div>
                <form action="/product" method="post">
                    <div class="row text-secondary">
                        <div class="col-md-5">
                            <i class="fa fa-image"></i> Thumbnai
                            <div class="img-thumbnail text-center">
                                <label for="thumbnail">
                                    <img src="assets/img/addProduct.png" alt="addproduct">
                                </label>
                                <input type="file" class="d-none" name="thumbnail" id="thumbnail">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group mb-4">
                                <label for="namaProduct">Nama Produk</label>
                                <input type="text" name="namaProduct" id="namaProduct" class="form-control">
                            </div>
                            <div class="form-group mb-4">
                                <label for="stok">Jumlah Stok</label>
                                <input type="text" name="stok" id="stok" class="form-control">
                            </div>
                            <div class="row mb-4">
                                <div class="col-6">
                                    <label for="hargaStok">Harga Stok <small>(Rp.)</small></label>
                                    <input type="text" name="hargaStok" id="hargaStok" class="form-control">
                                </div>
                                <div class="col-6">
                                    <label for="hargaJual">Harga Jual <small>(Rp.)</small></label>
                                    <input type="text" name="hargaJual" id="hargaJual" class="form-control">
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Simpan</button>
                                <button type="button" data-bs-dismiss="modal" class="btn bg-newdanger text-light"><i class="fas fa-times"></i> Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="assets/js/demo/datatables-demo.js"></script>