<script>
    $(".nav-blog").addClass('active')
</script>

<div>
    <div class="row">
        <div class="col-md-7">
            <div class="card p-3 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8 position-relative">
                            <input type="text" placeholder="Search" class="form-control rounded-pill">
                            <span class="position-absolute text-secondary me-4 end-0 top-50 translate-middle-y"><i class="fa fa-search"></i></span>
                        </div>
                        <div class="col-4 text-end">
                            <a class="btn bg-newsuccess text-light" href="/blog/newblog">
                                <i class="fa fa-plus"></i> New Blog
                            </a>
                        </div>
                    </div>
                    <hr>
                    <% for( let index = 0; index < 5; index++ ) { %>
                    
                        <div class="row">
                            <div class="col-5">
                                <div class="thumbnailbox-landscape bg-secondary rounded"></div>
                            </div>
                            <div class="col-7 text-newdark position-relative">
                                <h6 class="card-title">Judul Blog Disini ke - <%- index+1 %> </h6>
                                <div class="text-secondary">
                                    <small><i class="fa fa-user"></i> author disini</small>
                                </div>

                                <a href="/blog/edit/<%- index %> " class="position-absolute end-0 bottom-0 me-2 btn btn-primary btn-sm"><i class="fa fa-pencil-alt"></i></a>

                                <button class="position-absolute end-0 bottom-0 me-5 btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                            </div>
                            
                        </div>
                        <hr>
                    <% } %>
                </div>
                
            </div>
        </div>
    </div>
</div>