<script>
    $(".nav-blog").addClass('active')
</script>
<form action="/blog" method="post">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <div class="form-group mb-4">
                        <label for="judul ms-3">Judul Blog</label>
                        <input type="text" class="rounded-pill form-control" id="judul" name="judul">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</form>